.main-unionize {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-unionize .container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-bottom: 5rem;
}
.main-unionize .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-unionize .container .content h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 700;
  max-width: 1200px;
  width: 100%;
  padding: 5rem 0rem 2rem 0rem;
}
.main-unionize .container .content h1::after,
.main-unionize .container .content h1::before {
  content: "";
  display: block;
  background-image: url(/assets/img/line.png);
  background-position: 0 50%;
  width: 20%;
  height: 4px;
  margin: 20px;
}

.before-circle::before {
  content: "";
  background-image: url(/assets/img/int.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 45px;
  height: 45px;
}
.before-circle::after {
  content: "";
  margin-right: 15px;
}

.before-circle.exclamation::before {
  background-image: url(/assets/img/exc.png);
}

.content .content-wrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.content .content-wrapper img {
  width: 300px;
}
.content .content-wrapper .img-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 10px;
}
.content .content-wrapper .p-cntr {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.content .content-wrapper .p-cntr p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 300;
  width: 80%;
  line-height: 1.3;
}

.content .content-wrapper .p-cntr ul {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 300;
  width: 80%;
  line-height: 1.5;
}

.content .content-wrapper .p-cntr ul li {
  list-style: disc;
  list-style-position: inside;
}

.content .inf-unionize {
  width: 50%;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
  margin: 20px 0px 80px 0px;
}
.content .contact-unionize {
  display: flex;
  gap: 40px;
}

.content .btn-whatsapp {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}
.content .btn-whatsapp:hover {
  transform: scale(1.05);
}
