.main-footer {
  border-top: 2px solid rgb(235, 54, 54);
  width: 100%;
  padding-top: 50px;
}

.main-footer .footer-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}

.main-footer .footer-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.main-footer .footer-wrapper h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.main-footer .footer-wrapper ul {
  margin-top: 50px;
}
.main-footer .footer-wrapper ul li {
  line-height: 1.5;
}

.main-footer .footer-wrapper .footer-media {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.main-footer .footer-wrapper .footer-media a img {
  width: 40px;
}

.main-footer .footer-wrapper .copyright {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  text-align: center;
}
